h1,
h2,
h3,
h4,
h5 {
    font-family: "El Messiri", sans-serif;
}


body {
    background-color: #162831;
    width: 1280px;
    margin: 0 auto;
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.add-session {
    background-color: #018ABE;
    padding: 9px 15px;
    border-radius: 3px;
    color: white;
    text-decoration: none;

}

.add-session:hover {
    filter: brightness(1.2);
}

.add-session:active {
    filter: brightness(1);
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: white;
    position: relative;
cursor: pointer;
line-height: 1; 
text-decoration: none; 

}



nav a::after {
    display: block;
position: absolute;
left: 0; 
width: 0;
height: 2px; 
background-color: #018ABE; 
content: "";
transition: width 0.3s ease-out;
}
nav a:hover:after,
nav a:focus:after {
width: 100%;

}
main {
    margin-top: 50px;
}

.banner {
    background-image: url(../style/img/bg-banner.jfif);
    background-color: #98C9DC80;
    background-blend-mode: color;
    background-size: 100% 100%;
    border-radius: 10px;
    width: 1280px;
    height: 600px;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner h1 {
    font-size: 64px;
    text-align: center;
}

.banner h2 {
    display: flex;
    gap: 66px;
}

.banner h2::before {
    content: url(../style/img/decor-white.svg);
}

.banner h2::after {
    content: url(../style/img/decor-white.svg);
    transform: scale(-1, 1);
}

.banner1::before {
    content: url(../style/img/decore-blue.svg);
}

.banner1::after {
    content: url(../style/img/decore-blue.svg);
    transform: scale(-1, 1);
}

.banner1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 42px;
    font-weight: 700;
    gap: 45px;
    align-items: flex-end;
}


.seance-item {
    background-image: url(../style/img/wqeqwe.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: #018ABE80;
    color: white;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    padding: 30px 40px;
    border-radius: 10px;
    text-decoration: none;
    border: solid 3px #162831;
}

.seance-item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
    height: 540px;
}

.seance-item:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.seance-item:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.seance-item:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
}

.seance-item:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
}

.seance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.seance-item:hover {
    filter: brightness(1.4);
    border: solid 3px #018ABE;
    filter: drop-shadow(0 5px 10px #018ABE );

}

.seance-item:active {
    filter: brightness(1);
}
.ooo h2 {
    font-size: 64px;
    text-align: center;
}

.ooo h2 {
    display: flex;
    gap: 66px;
}

.ooo h2::before {
    content: url(../style/img/decore-blue.svg);
}

.ooo h2::after {
    content: url(../style/img/decore-blue.svg);
    transform: scale(-1, 1);
}
.ooo {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: 700;
    gap: 45px;
    align-items: flex-end;
    text-align: center;
}
.www {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 42px;
    font-weight: 700;
    gap: 45px;
    align-items: flex-end;
}

.asd {
    display: flex;
    height: 20rem;
    gap: 1rem;
    color: white;

}

.asd>div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .4s cubic-bezier(.25, .4, .45, 1.4);
}

.asd > div:hover {
    flex: 5;
}

.feetback-item{
    opacity: 40%;
}

.feetback-item:hover {
    opacity: 1;
}
.add-session div {
    display: flex;
overflow: hidden;
text-shadow: 0 var(--font-shadow) 0 var(--text);

}
.add-session div span {
    display: block;
backface-visibility: hidden;
font-style: normal;
transition: transform var(--duration) ease;
transform: translateY(var(--m)) translateZ(0);
}
.add-session div span:nth-child(1) {
    transition-delay: 0.05s;
}

.add-session div span:nth-child(2) {
    transition-delay: 0.1s;
}

.add-session div span:nth-child(3) {
    transition-delay: 0.15s;
}

.add-session div span:nth-child(4) {
    transition-delay: 0.2s;
}

.add-session div span:nth-child(5) {
    transition-delay: 0.25s;
}

.add-session div span:nth-child(6) {
    transition-delay: 0.3s;
}

.add-session div span:nth-child(7) {
    transition-delay: 0.35s;
}

.add-session div span:nth-child(8) {
    transition-delay: 0.4s;
}

.add-session div span:nth-child(9) {
    transition-delay: 0.45s;
}

.add-session div span:nth-child(10) {
    transition-delay: 0.5s;
}

.add-session div span:nth-child(11) {
    transition-delay: 0.55s;
}

.add-session div span:nth-child(12) {
    transition-delay: 0.6s;
}
.add-session:hover {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);
}

.add-session:hover span {
    --m: calc(var(--font-size) * -1);
}

.add-session.reverse {
    --font-shadow: calc(var(--font-size) * -1);
}
.add-session.reverse:hover span{
    --m: calc(var(--font-size) );
}





#about {
    display: flex;
flex-direction: column;
gap: 100px;
}

.about-title {
    font-size: 24px;
font-weight: 700;
margin-bottom: 30px;
}
.about-item {
    display: flex;
align-items: center;
gap: 84px;
color: white;
}

.about-item img {
    border-radius: 10px;
    height: 400px;  
}

.df {
    background-color: rgba(27, 78, 94, 0.616);
    border-radius: 10px ;
}
#ty {
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 416px;
} 

.prise {
    display: flex;
    justify-content: space-between;
}
.prise::before {
    content: url(../style/img/decore-blue.svg);
    position: absolute;
    margin-left: -40px;
    }
.price-picture {
    color: #fff;
    text-align: center;
    font-size: 21px;
}
.mapq {
    height: 690px;
}
.mapw {
background: rgba(1, 138, 190, 1);
width: 392px;
height: 290px;
border-radius: 10px;
color: #fff;
display: flex;
padding: 20px;
flex-direction: column;
font-size: 14px;



}
#kl {
    display: flex;
    gap: 48px;
    
}
.mape {
    background: rgba(1, 138, 190, 1);
    width: 392px;
    height: 290px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    padding: 20px;
    flex-direction: column;
    font-size: 14px;
    

}

.cv {
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-bottom: #0188be00 solid 2px;
    transition: all .1s linear;
}
.cv a:hover {
    border-bottom: #018ABE solid 2px;
}

.cv {
    background-color: #fff;
    border-radius: 3px;
    padding: 9px 15px;
width: 155px;
    font-size: 17px;
    color: #018ABE;
}

.cv:hover {
    filter: brightness(1.2);
}

.cv:active {
    filter: brightness(1);
}
footer {
    color: #fff;
font-size: 15px;


}